@{
    ViewData["Title"] = "Home Page";
}
<div style="margin-left: 10px; width: 400px" align="center">
    <h1>Hello @ViewBag.cur_user.FirstName @ViewBag.cur_user.LastName</h1>
    <a href="logout">Logout</a>
    <a href="createwedding" style="margin: 50px 50px;">New Wedding</a>
</div>


<div style="margin-top: 20px">
    <table>
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th >Guests</th>
        <th>Action</th>
  </tr>
@{
    foreach(var x in ViewBag.AllWeddings){
        <tr>
            <td style="background-color: azure; width:200px;" align="center"><a href="wedding/@x.WeddingId">@x.WedderOne and @x.WedderTwo</a></td>
            <td>@x.Date.ToString("MMM d yyyy")</td>
            <td style="background-color: azure;" align="center">@x.GuestsAmount</td>
            @if(x.UserId==ViewBag.cur_user.UserId){
                <td><a href="delete/@x.WeddingId"><span style="color: red;">Delete</span></a></td>
            }else{
                
                    var here = 0;
                    foreach(var guest in x.Guests){
                        if(guest.UserId==ViewBag.cur_user.UserId){
                            here = 1;
                        }
                    }
                    if(here==0){
                        <td><a href="attend/@x.WeddingId">Attend</a></td>
                    }
                    else {
                        <td><a href="changeyourmind/@x.WeddingId">Change your mind</a></td>
                    }
            }
                
        </tr>
    }
            
    
}
</table>

</div>